{% extends 'base.html' %}

{% block sidebar %}
    <h1>{% if user.is_authenticated %}
    Пользователь: {{ user.username }}
    <a href="/">Главная</a></h1>
    {% else %}
    you have to login
    {% endif %}
{% endblock %}


{% block content %}
    <h1><b>{{ user.username }}'s feed</b></h1>
    {% for pst in user_feed %}
    <button type="button" class="btn btn-light">Light
        <h2>{{ pst.title }}</h2>
        blog author: <b><a href="{% url 'user_blog' pst.author.username %}">{{ pst.author }}</b></a>
        <a href="{% url 'unfollow' pst.author.username %}">unfollow</a>
        <br>
        {{ pst.text }}
        <br>
        posted on: {{ pst.pub_date }}
        </button>
    {% endfor %}
{% endblock %}
<a href="/">Главная</a>